---
import { Image } from "astro:assets";
import { Author } from "../../model/index";
import AuthorImage from "./ikuma.svg";
---

<div
  class="w-full grid grid-cols-[auto_1fr] items-center grid-rows-2 gap-x-3 sm:gap-x-6 mx-auto py-2"
>
  <Image
    src={AuthorImage}
    alt={Author.name}
    class="row-span-2 col-span-1 justify-self-end w-10 sm:w-12 aspect-square"
    loading="eager"
  />
  <p class="text-heading-16 text-foreground">{Author.name}</p>
  <p class="text-muted tracking-wider text-label-14-mono">
    {Author.bio}
  </p>
</div>
