.prose {
    @apply !max-w-full;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-foreground;
}

.prose h1 > a,
.prose h2 > a,
.prose h3 > a,
.prose h4 > a,
.prose h5 > a,
.prose h6 > a {
  @apply float-left -ml-5 border-none opacity-0 hover:opacity-100 no-underline rounded-md;

  @apply transition duration-300 ease-in-out;

  @apply !text-primary;

  .icon-link:before {
    content: "#";
  }
}

.prose h2 {
    @apply text-xl sm:text-2xl mt-20;
}

.prose h3 {
    @apply text-lg sm:text-xl mt-16 mb-4 text-foreground/90;
}

.prose p + h3 {
    @apply mt-16;
}

.prose h2 + h3 {
    @apply mt-4;
}

.prose p,
.prose ol,
.prose ul,
.prose table,
.prose th,
.prose td,
.prose p code,
.prose li code{
  @apply !text-foreground text-base !leading-7 sm:!leading-8 tracking-wide;
}

.prose blockquote * {
  @apply !text-muted-foreground text-base !leading-7 sm:!leading-8 tracking-wide;
}

.prose li::marker {
  @apply text-primary;
}

.prose a {
  @apply underline decoration-primary/70 decoration-2 underline-offset-[0.35rem] text-foreground/70;
}

.prose a:hover {
  @apply no-underline;
}

.prose img {
  @apply !mx-auto rounded-sm;
}
