.prose {
    @apply !max-w-full;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-foreground;
}

.prose h1 > a,
.prose h2 > a,
.prose h3 > a,
.prose h4 > a,
.prose h5 > a,
.prose h6 > a {
  @apply float-left -ml-5 border-none opacity-0 hover:opacity-100 no-underline rounded-md;

  @apply transition duration-300 ease-in-out;

  @apply !text-primary;

  .icon-link:before {
    content: "#";
  }
}

.prose h2 {
    @apply text-base sm:text-2xl sm:mt-16;
}

.prose h3 {
    @apply text-sm sm:text-xl sm:mt-12;
}

.prose p,
.prose ol,
.prose ul,
.prose blockquote,
.prose table,
.prose th,
.prose td,
.prose code {
  @apply !text-foreground font-medium text-sm sm:text-base !leading-6 tracking-wide;
}

.prose li::marker {
  @apply text-primary;
}

.prose a {
  @apply underline decoration-primary decoration-2 underline-offset-4 text-muted-foreground;
}

.prose a:hover {
  @apply opacity-75;
}

.prose img {
  @apply !mx-auto rounded-sm;
}
