---
import type { CollectionEntry } from "astro:content";
import Image from "astro/components/Image.astro";
import Link from "../../shared/ui/link/index.astro";
import Time from "../../shared/ui/time/index.astro";
import { getTalkId } from "./talks";

type Props = {
  talk: CollectionEntry<"talks">;
};

const { talk } = Astro.props as Props;
const id = getTalkId(talk);
const image = talk.data.enclosures.at(0);
---

<Link
  class="rounded-md grid gap-1 grid-rows-subgrid row-span-3"
  to="/talk/[id]"
  params={{ id }}
>
  <figure class="aspect-video relative">
    {
      image && (
        <Image
          src={image.url}
          alt={talk.data.title}
          class="rounded-md w-full h-full object-cover border border-border rounded-md absolute object-top"
          width={1920}
          height={1080}
        />
      )
    }
  </figure>
  <p class="font-semibold mt-2">{talk.data.title}</p>
  <div class="text-right">
    <Time size="small" date={talk.data.pubdate!} />
  </div>
</Link>
