---
import "../../../shared/ui/markdown/index.css";
import { render } from "astro:content";
import type { BlogEntry } from "../../../entities/blog/model/schema";
import Link from "../../../shared/ui/link/index.astro";
import Time from "../../../shared/ui/time/index.astro";
import Toc from "./toc.astro";

interface Props {
  entry: BlogEntry;
}

const { entry } = Astro.props;

const { Content, headings } = await render(entry);
---

<article class="prose mx-auto break-all">
  <div class="my-6">
    <Link to="/blog">
      <span class="text-muted">
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m12 19l-7-7l7-7m7 7H5"></path></svg
        >
      </span>
    </Link>
  </div>
  <hgroup class="space-y-1">
    <h1
      class="!text-2xl text-foreground text-heading-20 sm:text-heading-32 font-bold break-all tracking-widest !leading-relaxed my-0!"
    >
      {entry.data.title}
    </h1>
    <Time date={entry.data.publishDate} align="left" />
  </hgroup>
  <aside
    class="hidden lg:block lg:w-[200px] fixed top-[100px] right-[20px] z-[200] overflow-hidden pl-2"
  >
    <Toc headings={headings} />
  </aside>
  <Content />
  <div class="my-6 flex justify-end">
    <a href="#" class="">
      <span class="text-muted">
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m18 9l-6-6l-6 6m6-6v14m-7 4h14"></path></svg
        >
      </span>
    </a>
  </div>
</article>
