---
import type { BlogEntry } from "../../../entities/blog/model/schema";
import BlogCard from "../../../entities/blog/ui/blog-card/index.astro";

interface Props {
  page: Array<BlogEntry>;
}

const { page } = Astro.props;
---

<div class="grid place-self-start gap-y-3 w-full">
  {page.map((blog) => <BlogCard blog={blog} />)}
</div>
