---
import type { MarkdownHeading } from "astro";
import Time from "../../../components/ui/time.astro";
import "../../../shared/ui/markdown/index.css";
import Toc from "./toc.astro";

interface Props {
  title: string;
  publishDate: Date;
  headings: Array<MarkdownHeading>;
}

const { title, publishDate, headings } = Astro.props;
---

<div class={"space-y-8 sm:space-y-16 my-8 sm:my-16"}>
  <hgroup class="space-y-4">
    <h2
      class="text-foreground text-center text-heading-20 sm:text-heading-32 font-bold break-all tracking-widest !leading-relaxed"
    >
      {title}
    </h2>
    <div
      class="flex items-center justify-center gap-2 text-md text-muted-foreground"
    >
      <Time date={publishDate} />
    </div>
  </hgroup>
  <div class="grid grid-cols-1 lg:grid-cols-[1fr_16rem] gap-x-8 lg:mx-[-8rem]">
    <article class={"break-all prose"}>
      <slot />
    </article>
    <aside class="hidden lg:block">
      <Toc headings={headings} />
    </aside>
  </div>
</div>
