---
import { Icon } from "astro-icon/components";
---

<div
  class="mb-8 flex items-center gap-2 border border-border rounded-md p-4 text-foreground bg-background font-semibold"
>
  <Icon name="lucide:alert-circle" class="w-4 h-4" />
  <small>この記事は下書きです。本番環境では表示されません。</small>
</div>
