---
import type { CollectionEntry } from "astro:content";
import type { GetStaticPathsOptions, Page } from "astro";
import Pagination from "../../components/pagination/pagination.astro";
import BlogCard from "../../features/blog/blog-card.astro";

import Author from "../../components/author.astro";
import { getBlogs } from "../../features/blog/blog";
import Document from "../../layouts/document.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  return paginate(await getBlogs(), { pageSize: 50 });
}

const { page } = Astro.props as {
  page: Page<CollectionEntry<"blog">>;
};
---

<Document>
  <section class="grid gap-8">
    <div class="mx-[calc(50%-50cqi)] sticky top-0 py-4">
      <div
        class="flex justify-between items-center max-w-screen-md mx-auto px-4"
      >
        <h2
          class="text-heading-32 font-bold text-foreground tracking-wider bg-background/80"
        >
          blog
        </h2>
        <div class="justify-self-end rounded-full">
          <Pagination page={page} collectionKey="blog" />
        </div>
      </div>
    </div>
    <div class="grid gap-y-8">
      {page.data.map((blog) => <BlogCard blog={blog} />)}
    </div>
    <div class="mt-8">
      <Author />
    </div>
  </section>
</Document>
