---
import { render } from "astro:content";
import { Icon } from "astro-icon/components";
import Author from "../../components/author.astro";
import { getBlogs } from "../../features/blog/blog";
import Blog from "../../features/blog/blog.astro";
import Document from "../../layouts/document.astro";

export async function getStaticPaths() {
  const blogEntries = await getBlogs();
  return blogEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Document title={entry.data.title}>
  <Blog title={entry.data.title} publishDate={entry.data.publishDate}>
    {
      entry.data.draft && (
        <div class="mb-8 flex items-center gap-2 border border-border rounded-md p-4 text-foreground bg-background font-semibold">
          <Icon name="lucide:alert-circle" class="w-4 h-4" />
          <small>この記事は下書きです。本番環境では表示されません。</small>
        </div>
      )
    }
    <Content />
  </Blog>
  <div class="mt-16">
    <Author />
  </div>
</Document>
