---
import { render } from "astro:content";
import Document from "../../app/ui/layout/document/index.astro";
import Author from "../../entities/author/ui/author/index.astro";
import { getBlogs } from "../../features/blog/model/blog";
import DraftBadge from "../../features/blog/ui/DraftBadge.astro";
import Blog from "../../features/blog/ui/blog.astro";

export async function getStaticPaths() {
  const blogEntries = await getBlogs();
  return blogEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await render(entry);
---

<Document title={entry.data.title}>
  <Blog
    title={entry.data.title}
    publishDate={entry.data.publishDate}
    headings={headings}
  >
    {entry.data.draft && <DraftBadge />}
    <Content />
  </Blog>
  <div class="mt-16">
    <Author />
  </div>
</Document>
