---
import type { GetStaticPathsOptions, Page } from "astro";
import Author from "../../entities/author/ui/author/index.astro";
import { listBlog } from "../../entities/blog/api";
import type { BlogEntry } from "../../entities/blog/model/schema";
import BlogList from "../../features/blog/ui/blog-list.astro";
import Pagination from "../../features/pagination/ui/pagination.astro";
import Document from "../../widgets/layout/document/index.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  return paginate(await listBlog(), { pageSize: 50 });
}

interface Props {
  page: Page<BlogEntry>;
}

const { page } = Astro.props;
---

<Document>
  <section class="grid gap-12">
    <div class="mx-[calc(50%-50cqi)] sticky top-0 py-4">
      <div
        class="flex justify-between items-center max-w-screen-md mx-auto px-4"
      >
        <h2
          class="text-heading-32 font-bold text-foreground tracking-wider bg-background/80"
        >
          blog
        </h2>
        <div class="justify-self-end rounded-full">
          <Pagination page={page} collectionKey="blog" />
        </div>
      </div>
    </div>
    <BlogList page={page.data} />
    <Author />
  </section>
</Document>
