---
import type { GetStaticPathsOptions, Page } from "astro";
import BlogCard from "../..//entities/blog/ui/blog-card/index.astro";
import Author from "../../entities/author/ui/author/index.astro";
import { listBlog } from "../../entities/blog/api";
import type { BlogEntry } from "../../entities/blog/model/schema";
import Pagination from "../../features/pagination/ui/pagination.astro";
import Document from "../../widgets/layout/document/index.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  return paginate(await listBlog(), { pageSize: 50 });
}

interface Props {
  page: Page<BlogEntry>;
}

const { page } = Astro.props;
---

<Document>
  <section class="grid gap-8">
    <div class="mx-[calc(50%-50cqi)] sticky top-0 py-4">
      <div
        class="flex justify-between items-center max-w-screen-md mx-auto px-4"
      >
        <h2
          class="text-heading-32 font-bold text-foreground tracking-wider bg-background/80"
        >
          blog
        </h2>
        <div class="justify-self-end rounded-full">
          <Pagination page={page} collectionKey="blog" />
        </div>
      </div>
    </div>
    <ul class="grid place-self-start gap-y-8">
      {
        page.data.map((blog) => (
          <li>
            <BlogCard blog={blog} />
          </li>
        ))
      }
    </ul>
    <div>
      <Author />
    </div>
  </section>
</Document>

<style is:global>
  ul::after {
    border-radius: 1rem;
    content: "";
    position: absolute;
    background: hsl(0 0% 10%);
    pointer-events: none;
    z-index: -2;
    position-anchor: var(--anchor);
    inset: calc(anchor(top) - 20px) calc(anchor(right) - 20px)
      calc(anchor(bottom) - 20px) calc(anchor(left) - 20px);
    transition: inset 0.2s;
  }

  [data-theme="light"] ul::after {
    z-index: 0;
    background: var(--ds-gray-200);
    opacity: 0.2;
  }

  ul:has(li:hover) {
    --anchor: --active;
    --active: 1;
  }
  li:hover {
    anchor-name: --active;
    --li-active: 1;
  }
</style>
