---
import { SITE } from "../../../../shared/config/site";

const { publishedYear, author } = SITE;
const today = new Date();
const currentYear = today.getFullYear().toString();
---

<p class="font-semibold text-xs text-muted">
  © {
    publishedYear >= currentYear
      ? publishedYear
      : `${publishedYear}-${currentYear}`
  }
  {author}
</p>
