---
import SocialIcon from "../../../../entities/author/ui/social-icon/index.astro";
import RssIcon from "../../../../features/rss/ui/icon.astro";
import Copyright from "./copyright.astro";
---

<footer class="bg-background border-t border-muted-foreground">
  <div
    class="max-w-screen-lg mx-auto px-4 py-3 text-foreground flex justify-between items-center"
  >
    <Copyright />
    <div class="flex gap-1.5 sm:gap-3">
      <SocialIcon serviceName="GitHub" />
      <SocialIcon serviceName="X" />
      <SocialIcon serviceName="Zenn" />
      <SocialIcon serviceName="SpeakerDeck" />
      <SocialIcon serviceName="SizuMe" />
      <RssIcon />
    </div>
  </div>
</footer>
