---
import Copyright from "./copyright.astro";
import SocialIcon from "./social-icon/index.astro";
---

<footer class="bg-background">
  <div
    class="max-w-screen-lg mx-auto px-4 py-3 text-foreground flex justify-between items-center"
  >
    <Copyright />
    <div class="flex gap-1.5 sm:gap-3">
      <SocialIcon serviceName="GitHub" />
      <SocialIcon serviceName="X" />
    </div>
  </div>
</footer>
