---
import Link from "../../components/link.astro";
import Document from "../../layouts/document.astro";
---

<Document>
  <!-- Lab Hero Section -->
  <article class="prose">
    <section>
      <h1>Welcome to the Lab</h1>
      <p>HTML・CSS・JSなどの試行錯誤の置き場所</p>
    </section>
    <section>
      <h2>Under Development</h2>
      <ul>
        <li>
          <Link to="/lab/popover-api-scroll-driven-animation">
            Popover API + Scroll Driven Animation
          </Link>
        </li>
      </ul>
    </section>
  </article>
</Document>
