---
import Author from "../components/author.astro";
import { getBlogs } from "../features/blog/blog";
import BlogCard from "../features/blog/blog-card.astro";
import Document from "../layouts/document.astro";

const allBlogs = await getBlogs();
const blogs = allBlogs.slice(0, 20);
---

<Document>
  <section class="grid gap-8 grid-rows-[max_content-1fr_max-content]">
    <div class="mx-[calc(50%-50cqi)] sticky top-0 py-4">
      <div
        class="flex justify-between items-center max-w-screen-md mx-auto px-4"
      >
        <h2
          class="text-3xl font-bold text-foreground tracking-wider bg-background/80"
        >
          blog
        </h2>
      </div>
    </div>
    <ul class="grid place-self-start gap-y-8">
      {
        blogs.map((blog) => (
          <li>
            <BlogCard blog={blog} />
          </li>
        ))
      }
    </ul>
    <div>
      <Author />
    </div>
  </section>
</Document>

<style is:global>
  ul::after {
    border-radius: 1rem;
    content: "";
    position: absolute;
    background: hsl(0 0% 10%);
    pointer-events: none;
    z-index: -2;
    position-anchor: var(--anchor);
    inset: calc(anchor(top) - 20px) calc(anchor(right) - 20px)
      calc(anchor(bottom) - 20px) calc(anchor(left) - 20px);
    transition: inset 0.2s;
  }

  [data-theme="light"] ul::after {
    z-index: 0;
    background: var(--ds-gray-200);
    opacity: 0.2;
  }

  ul:has(li:hover) {
    --anchor: --active;
  }
  li:hover {
    anchor-name: --active;
  }
</style>
