---
import Author from "../entities/author/ui/author/index.astro";
import { listBlog } from "../entities/blog/api";
import BlogList from "../features/blog/ui/blog-list.astro";
import Document from "../widgets/layout/document/index.astro";

const allBlogs = await listBlog();
const blogs = allBlogs.slice(0, 20);
---

<Document>
  <section class="grid gap-8 grid-rows-[max_content-1fr_max-content]">
    <div class="mx-[calc(50%-50cqi)] sticky top-0 py-4">
      <div
        class="flex justify-between items-center max-w-screen-md mx-auto px-4"
      >
        <h2
          class="text-3xl font-bold text-foreground tracking-wider bg-background/80"
        >
          blog
        </h2>
      </div>
    </div>
    <BlogList page={blogs} />
    <div>
      <Author />
    </div>
  </section>
</Document>
