---
import Author from "../components/author.astro";
import { getBlogs } from "../features/blog/blog";
import BlogCard from "../features/blog/blog-card.astro";
import Document from "../layouts/document.astro";

const allBlogs = await getBlogs();
const blogs = allBlogs.slice(0, 20);
---

<Document>
  <section class="grid gap-8 grid-rows-[max_content-1fr_max-content]">
    <div class="mx-[calc(50%-50cqi)] sticky top-0 py-4">
      <div
        class="flex justify-between items-center max-w-screen-md mx-auto px-4"
      >
        <h2
          class="text-3xl font-bold text-foreground tracking-wider bg-background/80"
        >
          blog
        </h2>
      </div>
    </div>
    <div class="grid place-self-start gap-y-8">
      {blogs.map((blog) => <BlogCard blog={blog} />)}
    </div>
    <div class="mt-12">
      <Author />
    </div>
  </section>
</Document>
