---
import Author from "../components/author.astro";
import BlogCard from "../components/blog-card.astro";
import Link from "../components/link.astro";
import Document from "../layouts/document.astro";
import { getBlogs } from "../utils/blog";

const allBlogs = await getBlogs();
const blogs = allBlogs.slice(0, 3);
---

<Document>
  <section
    class="grid grid-cols-2 grid-rows-[max-content_1fr_max-content] h-full gap-8"
  >
    <h2 class="text-3xl font-bold text-foreground tracking-wider">BLOG</h2>
    <Link
      to="/blog"
      className="justify-self-end rounded-full border-border border px-4 py-2 text-sm sm:text-base bg-background text-foreground"
    >
      ほかの記事も見る
    </Link>
    <div class="col-span-2 grid place-self-start gap-y-8">
      {blogs.map((blog) => <BlogCard blog={blog} />)}
    </div>
    <div class="col-span-2">
      <Author />
    </div>
  </section>
</Document>
