---
import { type SocialIcon, socialIcons, socials } from './social-icons';

interface Props {
	icon: SocialIcon;
}

const { icon } = Astro.props;
---

<a href={socials[icon].href} class="w-6 aspect-square hover:opacity-70 transition-opacity rounded-md">
    <Fragment set:html={socialIcons[icon]} class="text-white" />
</a>
