---
type Props = {
  to: string;
  className?: string;
  tabindex?: string;
};

const { to, className } = Astro.props as Props;
---

<a href={to} class:list={["hover:opacity-75", className]}>
  <slot />
</a>
