---
import { Icon } from "astro-icon/components";

type Props = {
  backTo?: "history" | "structure";
};

const { backTo = "history" } = Astro.props;

const currentPath = Astro.url.pathname;
const previousPath =
  backTo === "history"
    ? "javascript:history.back()"
    : currentPath.split("/").slice(0, -1).join("/");
---

<a href={previousPath}>
  <Icon
    size={26}
    title="戻る"
    name="lucide:arrow-left"
    class="inline text-muted-foreground rounded-full border border-border aspect-square p-1 bg-background hover:bg-muted"
  />
</a>
