---
import type { CollectionEntry } from "astro:content";
import { buildUrl } from "../utils/blog";
import Link from "./link.astro";
import Time from "./time.astro";

type Props = {
  blog: CollectionEntry<"blog">;
};

const { blog } = Astro.props as Props;
---

<article>
  <section class="grid gap-y-4">
    <Time date={blog.data.publishDate} />
    <h3>
      <Link
        className="leading-relaxed break-all line-clamp-3 text-lg sm:text-xl font-bold text-foreground hover:underline hover:decoration-primary hover:underline-offset-4"
        to={buildUrl(blog.slug)}
      >
        {blog.data.title}
      </Link>
    </h3>
    <p class="text-foreground text-sm leading-7 tracking-wide">
      {blog.data.description ?? "No description"}
    </p>
    <a
      class="leading-relaxed break-all line-clamp-3 text-sm font-semibold text-foreground hover:underline hover:decoration-primary hover:underline-offset-4"
      href={buildUrl(blog.slug)}
    >
      Read more
    </a>
  </section>
</article>
