---
import type { CollectionEntry } from "astro:content";
import { buildUrl } from "../utils/blog";
import Link from "./link.astro";

type Props = {
  blog: CollectionEntry<"blog">;
};

const { blog } = Astro.props;
---

<article>
  <section class="grid gap-y-4">
    <h3>
      <Link
        className="leading-relaxed break-all line-clamp-3 text-lg sm:text-xl font-semibold text-foreground hover:underline hover:decoration-primary hover:underline-offset-4"
        to={buildUrl(blog.slug)}
      >
        {blog.data.title}
      </Link>
    </h3>
  </section>
</article>
