---
import { Meteors } from './Meteors';
import SiteLogo from './site-logo/site-logo.astro';
---

<header>
	<div class="max-w-screen-lg mx-auto my-12 px-4">
		<Meteors client:only="react" number={20} />
		<SiteLogo />
	</div>
</header>