---
import Link from "./link.astro";
import SiteLogo from "./site-logo/site-logo.astro";
import ThemeSelector from "./theme-selector.astro";
---

<header>
  <nav
    class="flex items-center justify-between max-w-screen-md mx-auto mt-9 sm:my-12 px-4"
  >
    <SiteLogo />
    <div class="flex items-center gap-4">
      <Link to="/blog" className="font-montserrat font-bold">BLOG</Link>
      <!-- <Link to="/talk" className="font-montserrat font-bold">TALK</Link> -->
      <ThemeSelector />
    </div>
  </nav>
</header>
