---
import { render } from "astro:content";
import { createMarkdownProcessor } from "@astrojs/markdown-remark";
import Author from "../../components/ui/author.astro";
import Talk from "../../features/talk/talk.astro";
import {
  getTalkEmbedUrl,
  getTalkId,
  getTalks,
} from "../../features/talk/talks";
import Document from "../../layouts/document.astro";

export async function getStaticPaths() {
  const talksEntries = await getTalks();
  return talksEntries.map((entry) => {
    return {
      params: { id: getTalkId(entry) },
      props: { entry },
    };
  });
}

const processor = await createMarkdownProcessor();
const { entry } = Astro.props;
const iframe = await getTalkEmbedUrl(entry.data.link, entry.data.title ?? "");
const markdown = await processor.render(entry.data.description ?? "");
const { Content } = await render({
  ...entry,
  rendered: {
    html: markdown.code,
  },
});
---

<Document title={`${entry.data.title!}`}>
  <Talk title={entry.data.title!} publishDate={entry.data.pubdate!}>
    <Fragment set:html={iframe} />
    <Content />
  </Talk>
  <div class="mt-16">
    <Author />
  </div>
</Document>
