---
import ThemeSelector from "../../../../features/select-theme/ui/theme-selector/index.astro";
import Link from "../../../../shared/ui/link/index.astro";
import SiteLogo from "./site-logo/site-logo.astro";
---

<header class="border-b border-muted-foreground pb-4 sm:pb-0">
  <nav
    class="flex items-center justify-between max-w-screen-md mx-auto mt-4 sm:my-4 px-4"
  >
    <SiteLogo />
    <div class="flex items-center gap-4">
      <Link to="/blog" className="text-lg text-foreground font-bold">blog</Link>
      <Link to="/talk" className="text-lg text-foreground font-bold">talk</Link>
      <ThemeSelector />
    </div>
  </nav>
</header>
