---
import type { CollectionEntry } from "astro:content";
import { $path } from "astro-typesafe-routes/path";
import Time from "../../../../shared/ui/time/index.astro";

type Props = {
  blog: CollectionEntry<"blog">;
};

const { blog } = Astro.props as Props;
---

<article
  class="flex overflow-hidden gap-3 items-center prose"
  aria-labelledby={blog.id}
  data-href={$path({
    to: "/blog/[id]",
    params: { id: blog.id },
  })}
>
  <div
    class=`min-w-2 aspect-square rounded-full ${blog.data.category === 'tech' ? 'bg-blue-600' : blog.data.category === 'idea' ? 'bg-yellow-300' : 'bg-green-700'}`
  >
  </div>
  <a class="truncate opacity-75 hover:opacity-100" href={`/blog/${blog.id}`}>
    {blog.data.title}
  </a>
  <div>
    <Time date={blog.data.publishDate} label="投稿日" size="small" />
  </div>
</article>
