---
import StyledIcon from "../../../../shared/ui/styled-icon/index.astro";
import Moon from "./moon.svg";
import Sun from "./sun.svg";
---

<theme-toggle class="relative h-6 w-6">
  <button
    id="toggle-theme"
    type="button"
    class="group cursor-pointer"
    aria-label="テーマを切り替える"
    transition:persist
  >
    <StyledIcon class="absolute inset-0 hidden group-aria-[pressed=true]:block">
      <Sun aria-label="ダークテーマに切り替える" class="text-muted" />
    </StyledIcon>
    <StyledIcon
      class="absolute inset-0 hidden group-aria-[pressed=false]:block"
    >
      <Moon aria-label="ライトテーマに切り替える" class="text-muted" />
    </StyledIcon>
  </button>
</theme-toggle>

<script>
  class themeToggle extends HTMLElement {
    constructor() {
      super();
      const button = this.querySelector("button") as HTMLButtonElement;

      if (button) {
        button.addEventListener("click", (e) => {
          if (e.currentTarget instanceof HTMLButtonElement) {
            const isPressed =
              e.currentTarget.getAttribute("aria-pressed") === "true";
            const themeChangeEvent = new CustomEvent("theme-change", {
              detail: {
                theme: isPressed ? "light" : "dark",
              },
            });
            // dispatch event -> ThemeProvider.astro
            document.dispatchEvent(themeChangeEvent);
            button.setAttribute("aria-pressed", String(!isPressed));
          }
        });
      }
    }
  }

  if ("customElements" in window) {
    customElements.define("theme-toggle", themeToggle);
  }
</script>

<script is:inline>
  const button = document.getElementById("toggle-theme");

  function setButtonPresssed() {
    const bodyThemeIsDark = document.documentElement.dataset.theme === "dark";
    button.setAttribute("aria-pressed", String(bodyThemeIsDark));
  }
  setButtonPresssed();
</script>
