---
import BackButton from "../components/back-button.astro";
import Document from "../layouts/document.astro";
import "../stylesheet/markdown.css";
---

<Document>
  <section class="h-full space-y-8">
    <div class="mb-8">
      <BackButton />
    </div>
    <h1 class="text-3xl font-bold text-foreground tracking-wider">ABOUT</h1>
    <article class="prose" data-pagefind-body>
      <slot />
    </article>
  </section>
</Document>
