---
import Time from "../components/time.astro";
import "../stylesheet/markdown.css";
import { cn } from "../utils/cn";

type PostLayoutProps = {
  title: string;
  publishDate: Date;
  type?: "normal" | "mini";
};

const { title, publishDate, type = "normal" } = Astro.props as PostLayoutProps;
---

<div class={cn("space-y-8 sm:space-y-16", type === "mini" && "p-14 w-[492px]")}>
  <hgroup class="space-y-4">
    <h2
      class="text-lg sm:text-3xl font-semibold break-all"
      data-pagefind-meta="title"
    >
      {title}
    </h2>
    <div
      class="flex items-center justify-end gap-2 text-sm text-muted-foreground"
    >
      <Time date={publishDate} />
      <p>に公開</p>
    </div>
  </hgroup>
  <article
    class={cn("break-all prose", type === "mini" && "text-[10px]")}
    data-pagefind-body
  >
    <slot />
  </article>
</div>
