---
export const prerender = false;

import type { Session } from "@auth/core/types";
import { Auth, SignIn, SignOut } from "auth-astro/components";
import Document from "../../layouts/document.astro";
---

<Document>
  <h1>Astro</h1>
  <Auth>
    {
      (session: Session) => {
        if (session) {
          return (
            <>
              <p>Logged in as {session.user?.name}</p>
              <SignOut>Sign Out</SignOut>
            </>
          );
        } else {
          return <SignIn provider="github">Sign In</SignIn>;
        }
      }
    }
  </Auth>
</Document>
