---
export const prerender = false;

import { getSession } from "auth-astro/server";
import Admin from "../../layouts/admin.astro";

const session = await getSession(Astro.request);
if (!session) return Astro.redirect("/");

const baseUrl = Astro.site?.origin;
const cookie = Astro.request.headers.get("cookie");
const response = await fetch(`${baseUrl}/api/github/read`, {
  headers: {
    "Content-Type": "application/json",
    Cookie: cookie || "",
  },
  credentials: "include",
});
const data = await response.json();
console.log(data);
---

<Admin title="保護されたページ">
  <h1>Astro</h1>
  <p>Only signed in users can see this page.</p>
</Admin>
