name: check
on:
  pull_request:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - ".github/workflows/ci.yml"
  push:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - ".github/workflows/ci.yml"
  workflow_dispatch:
    inputs:
      with_timeline:
        type: boolean
        required: false
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-node
      - name: lint
        run: pnpm check
      # - name: unit-test
      #   run: pnpm test
  actions-timeline:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: Kesin11/actions-timeline@v2
