name: ci
on:
  pull_request:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - ".github/workflows/ci.yml"
  push:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - ".github/workflows/ci.yml"
  workflow_dispatch:
    inputs:
      with_timeline:
        type: boolean
        required: false
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      - name: lint
        run: pnpm check
      - name: unit-test
        run: pnpm test
      - name: build
        run: pnpm build
      - uses: actions/upload-artifact@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          name: dist
          path: dist
          if-no-files-found: error
          retention-days: 1
          overwrite: true
  publish:
    runs-on: ubuntu-latest
    needs: [check]
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - uses: cloudflare/pages-action@1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: blog
          directory: ./dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
  actions-timeline:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: Kesin11/actions-timeline@v2
