name: lint
on:
  pull_request:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - ".github/workflows/lint.yml"
  push:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - ".github/workflows/lint.yml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      - run: pnpm check
  build:
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      - run: pnpm build
