---
import GitHub from "./icons/GitHub.svg";
import SizuMe from "./icons/SizuMe.svg";
import SpeakerDeck from "./icons/SpeakerDeck.svg";
import X from "./icons/X.svg";
import Zenn from "./icons/Zenn.svg";

import { SOCIAL_ACCOUNT } from "../../../../../shared/config/site";
import { condition } from "../../../../../shared/lib/condition";

import StyledIcon from "../../../../../shared/ui/styled-icon/index.astro";

type SocialAccount = keyof typeof SOCIAL_ACCOUNT;

interface Props {
  serviceName: SocialAccount;
}
const { serviceName } = Astro.props;
const serviceUrl = SOCIAL_ACCOUNT[serviceName];
---

<a href={serviceUrl}>
  <StyledIcon>
    {
      condition(serviceName)
        .case("GitHub", () => <GitHub />)
        .case("X", () => <X />)
        .case("Zenn", () => <Zenn />)
        .case("SpeakerDeck", () => <SpeakerDeck />)
        .case("SizuMe", () => <SizuMe />).done
    }
  </StyledIcon>
</a>
