---
import { SITE } from "../../shared/config/site";
---

<a
  href={`${SITE.siteUrl}/rss.xml`}
  class="w-6 aspect-square hover:opacity-70 transition-opacity rounded-md"
>
  <svg
    class="text-muted"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    ><title>RSS</title><g
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      ><path d="M4 11a9 9 0 0 1 9 9M4 4a16 16 0 0 1 16 16"></path><circle
        cx="5"
        cy="19"
        r="1"></circle></g
    ></svg
  >
</a>
